<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    <main>
      <div class="window">
        <div class="title-bar">
          <img src="{{ "wizardv2.png" | relURL }}" alt="" style="width: 22px">
          <div class="title-bar-text"> {{ .Page.Title | truncate 24 "..." }}</div>
          <div class="title-bar-controls">
            {{ .Date.Format "January 2, 2006" }}
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
          </div>
        </div>
        <div class="window-body">
            {{- block "main" . }}{{- end }}
        </div>
      </div>
    </main>
    {{- partial "footer.html" . -}}
  </body>
</html>
