<!DOCTYPE html>
<html class="font-ubuntu">
  {{- partial "head.html" . -}}
  <body class="container sm:w-2/3 mx-auto ">
    {{- partial "header.html" . -}}
    <main>
      <div class="window">
        <div class="title-bar h-7">
          <img src="{{ "wizardv2.png" | relURL }}" alt="" class="w-6">
          <div class="title-bar-text font-ubuntu"> {{ if .IsHome  }}
            Articles
            {{ else }}
            <p class="text-xs sm:text-base">🐌 : {{ .Page.Slug }}</p>
            {{ end }}</div>
          <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
          </div>
        </div>
        <div class="window-body m-8">
            {{- block "main" . }}{{- end }}
        </div>
      </div>
    </main>
    {{- partial "footer.html" . -}}
  </body>
</html>
