{{ define "main" }}
  <article class="container font-ubuntu my-12">
    <h2 class="text-center font-bold text-4xl">{{ .Page.Title }}</h2>
    <p class="text-center text-lg my-4">
      {{ .Date.Format "January 2, 2006" }}
    </p>
    <p class="text-lg text-center my-8">
      in {{ range .Params.tags }}
      <a href="/tags/{{ . | urlize }}" class="underline hover:no-underline">{{ . }}</a> /
      {{ end }}
    </p>
    <hr/>
    <div class="text-base sm:text-lg my-4 lg:px-24">
      {{ .Content }}
    </div>
  </article>
{{- partial "related.html" . -}} 
{{ end }}
