@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+Mono:ital@1&display=swap');

pre, pre * {
    font-family: 'Ubuntu Mono', monospace !important;
}

pre, code {
    background-color: #ece9d8 !important;
    color: #000;
}