<header class="flex flex-row justify-between py-8 content-center">
    <a href="/">
      <img src="{{ "wizardv2.gif" | relURL }}" alt="" class="w-24 sm:w-16" />
    </a>
    <nav class="flex">
      <a href="/about" class="p-2 text-base underline hover:no-underline self-center">about</a>
      <a href="https://drive.google.com/file/d/15VZrvb9McszIQHD7Hfneh9XeTo8m5nyQ/view?usp=sharing" target="_blank" class="p-2 text-base underline hover:no-underline self-center">resume</a>
      <a href="/tags" class="p-2 text-base underline hover:no-underline self-center">tags</a>
    </nav>
</header>
