<header class="flex flex-row flex-wrap justify-center sm:justify-between py-8 content-center">
    <a href="/">
      <img src="{{ "wizardv2.gif" | relURL }}" alt="" class="w-24 sm:w-16" />
    </a>
    <div class="flex flex-row">
      <a href="https://www.credly.com/badges/8b0f93ae-cb2a-40cf-b59e-bfbc137d265b/public_url"><img src="{{ "google-comptia-dual-credential.png" | relURL }}" alt="" class="w-16 hover:shadow-xl rounded-lg"></a>
      <a href="https://www.credly.com/badges/68cc1cde-d2e8-4da5-ba5c-d06e1527eb51/public_url"><img src="{{ "comptia-a-ce-certification.1.png" | relURL }}" alt="" class="w-16 hover:shadow-xl rounded-lg"></a>
      <a href="https://www.credly.com/badges/7dfabd9e-e2a6-46fd-9825-5b08c22744c3/public_url"><img src="{{ "comptia-network-ce-certification.1.png" | relURL }}" alt="" class="w-16 hover:shadow-xl rounded-lg"></a>
      <a href="https://www.credly.com/badges/4749ce36-092d-49a3-8f01-089ed62b88cb/public_url"><img src="{{ "comptia-it-operations-specialist-cios-stackable-certification.png" | relURL }}" alt="" class="w-16 hover:shadow-xl rounded-lg"></a>
      <a href="https://www.credly.com/badges/f059b135-c922-437d-aed3-f3936095ec59/public_url"><img src="{{ "pcep-30-01-pcep-certified-entry-level-python-programmer.png" | relURL }}" alt="" class="w-14 hover:shadow-xl rounded-lg"></a>
      <a href="https://www.credly.com/badges/e2df911d-7439-4ebb-bca8-ae0557964ce8/public_url"><img src="{{ "pcap-31-03-pcap-certified-associate-in-python-programming.png" | relURL }}" alt="" class="w-14 hover:shadow-xl rounded-lg"></a>
    </div>
    <nav class="flex">
      <a href="/about" class="p-2 text-base underline hover:no-underline self-center">about</a>
      <a href="https://drive.google.com/file/d/15VZrvb9McszIQHD7Hfneh9XeTo8m5nyQ/view?usp=sharing" target="_blank" class="p-2 text-base underline hover:no-underline self-center">resume</a>
      <a href="/tags" class="p-2 text-base underline hover:no-underline self-center">tags</a>
    </nav>
</header>
